.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 89px 87px;
}

.header__menu {
    justify-self: start;
    position: relative;
    left: -20px;
}

.header__links-list {
    display: flex;
    gap: 30px;

}

.header__links-list-item {
    list-style-type: circle;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration: none;

}

.header__links-list-item_no-bullit {
    list-style: none;

}

.header__link {
    color: #000000;
    border-bottom: 1px solid #fff;


}

.header__link_active {
    border-bottom: none;
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 139px;
    position: relative;
    left: 17px;
    top: 1px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    font-style: inherit;
    position: relative;
    left: 15px;
}

.address__item {
    display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;

}

.address__address-text {
    font-size: 18px;
    line-height: 1.35;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: no-repeat center/cover url('../../images/cover.jpg');

}


.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    text-transform: uppercase;
    font-style: bold;
    font-size: 100px;
    z-index: 1;
    color: #fff;
    margin: 170px 50px 100px 50px;
    width: 1000px;
    position: relative;
    right: -17px;
    top: 3px;


}

.aligned-text {
    display: block;
    margin-bottom: 20px;
    

}

.aligned-text_left {
    text-align: start;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align: center;
    margin-left: 30px;
    margin-top: -3px;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    text-align: end;
    margin-top: -3px;
    margin-right: -30px;
    letter-spacing: 0.3em;
}

.cover__description {
    padding: 0 40px 40px;
    z-index: 1;
    position: relative;
    left: -50px;
    top: -10px;
    display: flex;
    gap: -75px;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.27;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 35px;
    
}

.bet-button {
    padding: 12px 32px 11px 31px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    right: -55px;
    top: -1px;
}

.lots__heading {
    padding-top: 179px;
    padding-bottom: 26px;
    padding-left: 64px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    left: 15px;
}

.lots__container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
    justify-content: flex-start;
    padding: 0;
    margin-left: 45px;
    margin-top: -9px;

}

.lots__card {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;
    position: relative;
    left: -5px;
    top: 10px;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 51px 40px 48px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_about_film {
    background-image: url(./../images/card-lot-01.jpg);

}

.card_about_book {
    background-image: url(./../images/card-lot-02.jpg);
}

.card_about_picture {
    background-image: url(./../images/card-lot-03.jpg);

}

.card_title {
    color: white;
    font-size: 21.87px;
    font-weight: 580;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    position: relative;
    top: -5px;
    right: 2px;
}

.card_on_text {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: relative;
    z-index: 10;
    padding-top: 30px;
}

.view_more {
    display: block;
    text-underline-offset: 3px;
    padding-top: 42px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 64px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    position: relative;
    left: 15px;
}

.about {
    margin: 180px 50px 184px 50px;
}

.about__column {
    display: grid;
    grid-template-columns: 430px 1fr;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    grid-template-rows: auto 100px;
    align-items: start;
    gap: 25px 75px;
    padding: 0 150px 200px 50px;
    margin-left: 46px;
    margin-top: 150px;
    position: relative;
    top: -50px;
    left: -220px;

}

.about__logo {
    display: flex;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 145px;
    border-radius: 120px;
    background-color: #000;
    padding: 45px;
    position: relative;
    top: 53px;
    right: -64px;

}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 688px;
    height: 120px;
    top: 150px;
    padding-top: 70px;
    position: relative;
    top: 55px;
    left: 16px;
}

.about__title {
    margin-top: 105px;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    position: relative;
    top: 51px;
    right: -19px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 80px;
    margin: 12px 50px 90px 50px;

}

.footer__address {
    justify-self: start;
    position: relative;
    top: 82px;
    right: -66px;
    font-style: normal;
}

.footer__menu {
    justify-self: center;

}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

.footer__links-list {
    justify-content: center;


}

.footer__links-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -87px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration: none;
    font-weight: 400;
   
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 75px;
    font-size: 18px;
    left: 15px;
}

.footer__social-icon {
    width: auto;
    height: 48px;
}

.footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
    position: relative;
    top: 75px;
    left: 15px;

}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-content: end;
    position: relative;
    top: -75px;
    left: -35px;

}

.footer__social-icon {
    width: 48px;
    height: 48px;
}