.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 91px;
    padding-bottom: 94px;
}

.header__menu {
    white-space: nowrap;
    margin-left: 15px;
}

.header__links-list {
    display: flex;
    column-gap: 32px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-transform: lowercase;
    list-style-type: circle;
}

.header__links-list-item {
    list-style-type: circle;
    font-size: 18px;
    text-underline-offset: 4px;
    text-decoration: none;

}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    color: #000000;
    border-bottom: 1px solid #fff;
    font-size: 18px;

}

.header__link_active {
    border-bottom: none;
    text-decoration: none;
}

.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    width: 240px;
    margin-left: 140px;
    font-style: normal;

}

.address__item {
    display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
}

.address__address-text {
    font-size: 18px;
    line-height: 1.35;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: no-repeat center/cover url(../images/cover.jpg);
}


.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    text-transform: uppercase;
    font-style: normal;
    font-size: 100px;
    margin: 165px 60px 115px 50px;
    z-index: 1;
    color: #fff;
    width: 1000px;
    
}

.aligned-text {
    display: block;
    margin-bottom: 20px;


}

.aligned-text_left {
    text-align: start;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 0.3em;
    margin-left: 30px;
}

.aligned-text_right {
    text-align: end;
    letter-spacing: 0.3em;
    margin-right: -30px;
}

.cover__description {
    padding: 0 77px 14px 0px;
    z-index: 1;
    display: flex;
    gap: 55px;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.27;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 24px;
   white-space: nowrap;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    white-space: nowrap;

}

.lots {
    padding: 10px 10px;
}

.lots__heading {
    padding-top: 179px;
    padding-bottom: 26px;
    padding-left: 64px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    list-style: none;
    margin: 10px -10px
}

.lots__card-list-item {
    height: 100%;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 60px 40px 48px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 2000px;
    min-height: 500px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);

}

.card__title {
    color: white;
    font-size: 21.87px;
    font-weight: 580;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
    z-index: 10;
}

.card__text {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-position: under;
    width: fit-content;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    grid-template-rows: auto;
    align-items: start;
    gap: 25px 75px;
    margin-top: 133px;
    width: 693px;
}

.about__logo {
    display: flex;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 145px;
    border-radius: 120px;
    background-color: #000;
    padding: 45px;

}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 24px;
    width: 688px;
    top: 150px;
    padding-top: 75px;

}

.about__title {
    margin-top: 105px;

    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 50px;
    padding-top: 3px;
    padding-bottom: 76.24px;
}

.footer__social-icon {
    width: auto;
    height: 48px;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
    margin-top: 200px;
}

.footer__address {
    margin-top: 200px;
    font-style: normal;
}

.footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
    margin-top: 200px;
    margin-left: 145px;
    white-space: nowrap;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    margin-top: 200px;
    margin-left: 200px;
}